@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: black;
  color: white;
}

section {
  &:first-child {
    margin-top: 0;
  }

  margin-top: 200px !important;
}

p {
  margin: 0;
}

.container {
  margin: 0 312px;
}

.btn {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  //text-decoration: none;
}


.key {
  color: #FFFFFF;
  opacity: 0.4;
}

.value {
  color: #FFFFFF;
  font-weight: 700;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.title-with-image.title {
  margin-left: 5px;
  display: flex;
  align-items: flex-end;

  span {
    font-size: 48px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}


.title-with-image-alternative.title {
  display: grid;
  justify-content: center;
  text-align: center;

  span {
    font-size: 48px;
  }

  img {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    transform: rotate(135deg);
  }
}

section.preview {
  margin-top: 0 !important;;
  height: 100vh;
  background: url(../images/main-background.png);
  background-size: cover;

  // У хедера немного другой контейнер
  header {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-auth-btn {
      background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
      padding: 10px 30px;
      color: white;
    }

    .header-navigation > a {
      &:hover {
        color: orange;
      }

      //&:first-child{
      //  margin-left: 0;
      //}
      transition: color .5s;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: white;
      text-decoration: none;
      margin-left: 56px;
    }
  }

  article {
    margin-top: 198px;

    .title {
      color: white;
      font-size: 58px;
    }

    .timer {
      display: flex;
      //justify-content: space-between;
      .timer-block {
        &:first-child {
          margin-left: 0;
        }

        margin-left: 30px;
        background: #121212;
        padding: 20px 30px;
        color: white;

        display: grid;
        justify-content: center;

        .time-block-number {
          font-size: 36px;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
        }

        .time-block-text {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
}

div.transition-first-section {
  background: #121212;
  padding: 36px;
  display: flex;
  justify-content: center;

  div.info {
    > div {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 10px;
      color: #FFFFFF;

      span.members-title {
        opacity: 0.4;
      }

      display: flex;
      justify-content: space-between;

      width: 251px;
    }
  }

  div.money {
    margin-left: 81px;

    .money-statistic {
      width: 279px;
      display: flex;
      justify-content: space-between;
    }

    > div {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 10px;
    }

    .money-progress {
      div.progress {
        width: 714px;
        background: white;
        height: 6px;

        div.progress-value {
          background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
          width: 70%;
          height: 6px;
        }
      }

      .money-progress-values {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }
    }
  }
}

section.our-possibilities {
  margin-top: 200px;
  display: flex;
  align-items: center;

  .text {
    margin-left: 134px;

    .title {
      font-size: 48px;
      margin-bottom: 45px;
    }

    p {
      margin: 0;
    }
  }
}

section.fast-start {
  //margin-top: 200px;

  p.key {
    margin-top: 49px;
    width: 411px;
  }

  .block-percents {
    margin-top: 51px;
    display: flex;
    align-items: center;

    > div {
      min-height: 265px;
      display: grid;
      align-items: end;

      &:nth-child(even) {
        .graphic-block {
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }


      .graphic-block {
        //margin-top: 20px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
      }

      .title {
        margin-bottom: auto;
        font-size: 36px;
      }

      p {
        width: 306px;
      }
    }
  }
}

section.get-profession {
  > .title {
    text-align: center;
    font-size: 48px;
  }

  .pluses {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;

    .block-plus {
      text-align: center;

      .block-plus-title {
        margin-top: 60px;
        font-size: 24px;
        font-weight: 500;
      }

      .block-plus-descr {
        margin-top: 30px;
        opacity: 0.8;
      }
    }
  }
}

section.my-partners {
  .brands {
    margin-top: 89px;

    > div {
      &:nth-child(odd) {
        border-bottom: 1px solid gray;
      }

      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100px;

      .brand {
        &:last-child {
          border-right: none;
        }

        display: grid;
        border-right: 1px solid gray;
        justify-content: center;
      }
    }
  }
}

section.education {
  .descr {
    text-align: center;
    margin-top: 30px;
  }

  .program-course {
    .progress-line {
      position: absolute;
      left: 50%;
      transform: rotateX(-50%);
    }

    margin-top: 80px;
  }

  .stage {
    &:nth-child(even) {
      margin-right: 240px;
    }

    &:nth-child(odd) {
      margin-left: 250px;
      flex-direction: row-reverse;
    }

    .line {
      width: 40px;
      height: 1px;
      background: gray;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section.about-teachers {
  .teachers {
    display: flex;
    justify-content: space-between;
  }

  .teacher {
    margin-top: 113px;

    .teacher-fullname {
      font-size: 24px;
      font-weight: 500;
      margin-top: 40px;
    }

    .teacher-status {
      margin-top: 15px;
      opacity: 0.8;
    }

    .teacher-btn {
      margin-top: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .teacher-biografy-btn {
      border: 1px solid #FFFFFF;
      border-radius: 50px;
      padding: 10px 30px;

    }
  }
}

footer {
  margin-top: 200px !important;
  text-align: center;
  .text {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 48px;
  }
  p{
    margin-top: 30px;
  }
  form{
    margin-top: 60px;
    input {
      border-radius: 50px 0 0 50px;
      //opacity: 0.25;
      background: gray;
      padding: 25px;
      color: white;
      font-size: 18px;
      width: 492px;
      outline: none;
      &::placeholder {
        color: white;
        //padding-left: 20px;
      }
    }
    button {
      outline: none;
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
      padding: 10px 40px;
      position: relative;
      right: 50px;
      border: none;
      height: 74px;
    }
  }
}